# ==========================================
# CONFIGURAÇÃO DE AMBIENTE - THE CACTOS
# ==========================================
# INSTRUÇÕES PARA NOSSA EQUIPE DE DESENVOLVIMENTO (Felipe, Ítalo, França e Arlloudy,):
# 1. Faça uma cópia deste arquivo na raiz do projeto e renomeie para ".env".
# 2. Insira a chave de acesso privada na variável EXPO_PUBLIC_FIREBASE_API_KEY.
# Observação: O arquivo .env está listado no .gitignore e não subirá para o repositório.

EXPO_PUBLIC_FIREBASE_API_KEY=inserir_chave_privada_aqui
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=the-catos-app.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=the-catos-app
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=the-catos-app.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=78571577132
EXPO_PUBLIC_FIREBASE_APP_ID=1:78571577132:web:c8ca3078a7d5d57f055689
# Chave de acesso:
# [Entre em contato comigo para obter a chave de acesso privada necessária para configurar o Firebase no projeto ass: [Felipe]]