# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Arquivos Nativos e Chaves
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro e Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema e Env
.DS_Store
*.pem
.env*.local
.env
.env.*
!.env.example

# Pastas geradas (Android/iOS)
/ios
/android

# TypeScript
*.tsbuildinfo
.env.local